.circle {
    width: 120px;
    height: 120px;
    background-color: rgb(247, 39, 192);
    border-radius: 50%;
    top: 70%;
    right: 20%;
    animation: circle 17s linear infinite;
    display: none;
}

@keyframes circle {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

.shape{
    position: absolute;
}

.square {
    width: 120px;
    height: 120px;
    background-color: rgb(30 210 44 / 40%);
    transform: rotate(45deg);
    top: 40%;
    right: 60%;
    animation: shape 10s linear infinite;
}

@keyframes shape{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.star,
.star1 {
    top: 40%;
    right: 25%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
    border-bottom-color: rgb(50 34 197);
    transform: rotate(0deg) translateY(-50%);
    animation: shape-star 8s linear infinite;
}

.star1 {
    border-bottom-color: rgb(207, 99, 75);
    top: 90%;
    right: 50%;
}

.star::before, .star::after,
.star1::after, .star1::before{
    content: '';
    position: absolute;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-bottom-color: inherit;
    transform: translateX(-63%) translateY(-3%) rotate(-36deg);
}

.star::after,
.star1::after{
    transform: translateX(-37%) translateY(-3%) rotate(36deg);
}

@keyframes shape-star{
    0% {
        transform: rotate(0deg) translateY(-50%);
    }
    100% {
        transform: rotate(-360deg) translateY(-50%);
    }
    
}

.heart{
    top: 17%;
    right: 24%;
    background-color: rgb(130 22 22);
    width: 90px;
    height: 90px;
    transform: rotate(-45deg);
    animation: heart 10s linear infinite;
}

.heart::before, .heart::after{
    content: '';
    position: absolute;
    top: -55%;
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: inherit;
}

.heart::after {
    top: 0;
    transform: rotate(90deg);
    left: 55%;
    background-color: inherit;
}

@keyframes heart{
    0% {
        transform: rotate(-67deg) translate(50%,-50%);
    }
    50% {
        transform: rotate(-22deg) translate(50%,-50%);
    }
    100% {
        transform: rotate(-67deg) translate(50%,-50%);
    }
}